services:
  db:
    image: postgres:15
    container_name: prices_db
    environment:
      POSTGRES_USER: admin 
      POSTGRES_PASSWORD: secret_password 
      POSTGRES_DB: prices
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
