services:
  api:
    build: .
    container_name: api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  db:
    image: postgres:15
    container_name: prices_db
    environment:
      POSTGRES_USER: admin 
      POSTGRES_PASSWORD: secret_password 
      POSTGRES_DB: prices
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  celery_worker:
    build: .
    container_name: celery_worker
    command: celery -A app.celery_app worker -l debug
    env_file:
      - .env
    depends_on:
      - redis
      - db

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A app.celery_beat beat -l debug
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: prices_redis
    ports:
      - "6379:6379"
    restart: unless-stopped


volumes:
  postgres_data:
